<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sample.nttdocomo.android.linkingpairingdemo" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >



        <!-- LinkingIFの使用宣言 -->
        <meta-data
            android:name="com.nttdocomo.android.smartdeviceagent.feature.support"
            android:value="true" />

        <!-- Linking距離変化通知IFの使用宣言 -->
        <meta-data
            android:name="com.nttdocomo.android.smartdeviceagent.feature.notify_distance"
            android:value="true" />


        <!-- アプリ起動時に表示、各機能を確認する画面へ遷移 -->
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- ペアリングデバイス情報（名前、デバイスID、固有ID、BDアドレス、etc...）を取得するActivity -->
        <activity
            android:name=".pairing.DeviceInfoActivity"
            android:screenOrientation="portrait" />

        <!-- ペアリングされているデバイスのLEDを点灯させるActivity -->
        <activity
            android:name=".pairing.LedDemoActivity"
            android:screenOrientation="portrait" />

        <!-- ペアリングされているデバイスのバイブレーションパターンを確認するActivity -->
        <activity
            android:name=".pairing.VibrateDemoActivity"
            android:screenOrientation="portrait" />

        <!-- ペアリングされているデバイスのセンサ情報（加速度、ジャイロ、方位）を取得するActivity -->
        <activity
            android:name=".pairing.SensorDemoActivity"
            android:screenOrientation="portrait" />

        <!-- ペアリングされているデバイスの押下されたタイミングとボタンIDを取得するActivity -->
        <activity
            android:name=".pairing.ButtonDemoActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>

